body{
background-image:url(https://w0.peakpx.com/wallpaper/600/989/HD-wallpaper-warm-fade-mix-red-orange-yellow-colorful.jpg);

}

.intro{
    text-align: center;
    border: 3px red solid;
    background-color: black;
   	color: red;
    width: 610px;
    margin: 0 auto;
    font-size: 40px;
  border-radius: 50px;
  padding: 10px;
    
}


.topnav{
 display: flex;
 justify-content: space-around;
  background-color: black;
  border-radius: 40px;
  margin: 20px auto;
  width: 1000px;
 
    
}


.space{
    color:white;
    border:black  2px solid;
    margin: 5px 20px 2px 20px;
    padding:5px;
    background-color:black;
    transition: padding 1s;
    border-radius: 20px;
  
}

.space:hover{
    border:white  2px solid;
    padding:10px;
    transition: padding 1s;
}

.space1{
    color:yellow;
    border:black  2px solid;
    margin: 5px 20px 2px 20px;
    padding:5px;
    background-color:black;
    transition: padding 1s;
    border-radius: 20px;
  
}

.space1:hover{
    border:yellow  2px solid;
    padding:10px;
    transition: padding 1s;
}




